*{
    box-sizing: border-box;
    border: 1px solid black;
}
body{
    background-color: lightgray;
    
}
.clock{
    width: 200px;

    background-color: lightgoldenrodyellow;
    margin: auto;
}
table{
    width: 100%;
    text-align: center;
}
